// @font-face {
//     font-family: 'gothamregular';
//     src: url('../fonts/gotham_regular-webfont.woff2') format('woff2'),
//     url('../fonts/gotham_regular-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'gotham_bookregular';
//     src: url('../fonts/gotham-book-webfont.woff2') format('woff2'),
//     url('../fonts/gotham-book-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'gotham_lightregular';
//     src: url('../fonts/gotham-light-webfont.woff2') format('woff2'),
//     url('../fonts/gotham-light-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'gotham_mediumregular';
//     src: url('../fonts/gotham-medium-webfont.woff2') format('woff2'),
//     url('../fonts/gotham-medium-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'gotham_thinregular';
//     src: url('../fonts/gotham-thin-webfont.woff2') format('woff2'),
//     url('../fonts/gotham-thin-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'robotolight';
//     src: url('../fonts/roboto-light-webfont.woff2') format('woff2'),
//     url('../fonts/roboto-light-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'robotomedium';
//     src: url('../fonts/roboto-medium-webfont.woff2') format('woff2'),
//     url('../fonts/roboto-medium-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'robotoregular';
//     src: url('../fonts/roboto-regular_1-webfont.woff2') format('woff2'),
//     url('../fonts/roboto-regular_1-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
// @font-face {
//     font-family: 'robotothin';
//     src: url('../fonts/roboto-thin-webfont.woff2') format('woff2'),
//     url('../fonts/roboto-thin-webfont.woff') format('woff');
//     font-weight: normal;
//     font-style: normal;
// }
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/opensans-bold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../fonts/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('../fonts/opensans-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronultralight';
    src: url('../fonts/aileron-ultralight-webfont.woff2') format('woff2'),
         url('../fonts/aileron-ultralight-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronlight';
    src: url('../fonts/aileron-light-webfont.woff2') format('woff2'),
         url('../fonts/aileron-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronregular';
    src: url('../fonts/aileron-regular-webfont.woff2') format('woff2'),
         url('../fonts/aileron-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronsemibold';
    src: url('../fonts/aileron-semibold-webfont.woff2') format('woff2'),
         url('../fonts/aileron-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'aileronthin';
    src: url('../fonts/aileron-thin-webfont.woff2') format('woff2'),
         url('../fonts/aileron-thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}